<div class="container">
  <h1>This is the bookings#index page</h1>

  <% @bookings.each do |booking|  %>
    <div class="card-trip mb-3">
      <img src= <%= booking.facility.picture %> />
        <div class="card-trip-infos">
          <div>
            <h3>Location: <%= booking.facility.name %></h3>
            <p>Comment: <%= booking.comment %></p>
            <p>Starttime: <%= booking.start_time %></p>
            <p>Endtime: <%= booking.end_time %></p>
            <p>Checked In? <%= booking.checked_in ? "✅" : "❌" %></p>
          </div>
        </div>
      </div>
  <% end %>

</div>








</div>
