
<div id="video">
  <%= video_tag "NEW_CLIP.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "my_video" %>
</div>
<div class="container">
  <div class="row d-flex justify-content-center py-4">
    <div>
    <div class="container" data-controller="displaymap">
      <div class="col d-flex justify-content-center" style="margin-top: 50px">
        <button id="map-btn" data-displaymap-target="map" class="px-5 btn btn-12" style="color: white;" data-displaymap-action="click->displaymap#show" data-remote="true">
          <i class="fa-solid fa-map-location-dot" style="color: white"><h2 id="map-color" class="py-1">Map</h2></i>
        </button>
      </div>
    </div>

    </div>
  </div>
  <div>
    <div data-controller="map" data-map-target="show" data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" class="shadow-sm my-5 border border-white rounded">
    </div>
<div class="container flex items-center justify-center min-h-screen move-down">
  <h1 class="text-center text-white">Facilities</h1>
    <div id="facilities">
      <% @facilities.each do |facility| %>
        <div class="row d-flex py-4">
          <div class="col my-1">
            <%= link_to facility_path(facility), class: "text-decoration-none text-black"  do %>
            <div class="card glass-card shadow-xl rounded-lg horizontal h-500 mt-5">
              <% if facility.picture.present? %>
                <%= image_tag facility.picture, class: "card-img shadow-box", style: "width: 350px; height: 100%; object-fit: cover;" %>
              <% else %>
                <img class="card-img-left shadow-box card-new mt-5" src="https://images.unsplash.com/photo-1534438327276-14e5300c3a48?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="Card image cap">
              <% end %>
              <div class="card-body">
                <div class="card-title text-white py-2">
                  <h1><%= facility.name %></h1>
                </div>
                <div class="card-text text-white">
                  <p><%= facility.description %></p>
                    <div class="card-footer mx-2">
                      <div class="row d-flex text-center">
                          <h4 class= "mb-10 pb-3 text-center", style="color: #76FF03" style="color: #76FF03;">Booking rate:
                              <%= rand(20..80) %>
                            <span style="color: #76FF03;">%</span>
                          </h4>
                      </div>
                    </div>
                </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
</div>
