<div class="container">
  <h1>Show page of one facility</h1>


  <img style="width: 200px" src=<%= @facility.picture %> alt="">
  <p>Name: <%= @facility.name %></p>
  <p>Address: <%= @facility.address %></p>
  <p>Description: <%= @facility.description %></p>
  <p>Max. Capacity: <%= @facility.capacity %></p>
  <p>Category: <%= @facility.category %></p>
</div>
